/* "Workbench" */
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* @ Vars */

:root {
    --fg-text-default: #f0f6fc;
    --fg-text-special: #0047ab;
    --fg-font-default: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* -- */

/* @ General Styles */

body {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: var(--fg-font-default);
    color: white;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 4em;
}

/* -- */

/* @ Utility Styles */

/* -- */

/* @ Page Styles */

.landing-page {
    width: 100vw;
    height: 100vh;
}

.landing-page--intro {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    position: relative;
    left: 25%;
    top: 20%;
}

.landing-page--intro--header-0 {
    position: relative;
    right: 25%;
    font-size: 6em;
}

.landing-page--intro--header-1 {
    background: linear-gradient(-300deg, white 40%, #0047ab);
    background-clip: text;
    color: transparent;
    font-size: 6em;
}

.landing-page--intro--desc {
    position: relative;
    right: 25%;
    font-size: 2em;
}


.landing-page--background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.circuit-trace {
    fill: none;
    stroke:url("#trace-gradients");
    stroke-width:15;
}

/* -- */

/* @ Site Styles */

/* -- */

/* @ Device Styles */

@media (min-width: 1200px) {
}

/* -- */
