/* "Workbench" */
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* @ Vars */

:root {
    --fg-text-default: #f0f6fc;
    --fg-text-special: #0047ab;
    --fg-font-default: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* -- */

/* @ General Styles */

body {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: var(--fg-font-default);
    color: var(--fg-text-default);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 4em;
}

/* -- */

/* @ Utility Styles */

/* -- */

/* @ Page Styles */

.landing-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page--intro {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.landing-page--intro--header-0 {
    font-size: 3em;
}

.landing-page--intro--header-1 {
    /* background: linear-gradient(-180deg, var(--fg-text-default) 40%, var(--fg-text-special)); */
    background-clip: text;
    text-align: right;
    color: transparent;
    font-size: 4em;
}

.landing-page--intro--desc {
    font-size: 1em;
}


.landing-page--background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.circuit-trace {
    fill: none;
    stroke:url("#trace-gradients");
    stroke-width: 15;
}

/* -- */

/* @ Site Styles */

/* -- */

/* @ Device Styles */

@media (min-width: 1200px) {
    .landing-page--intro {
        width: 50%;
    }
}

@media (min-height: 900px) {
    .landing-page--intro--header-0 {
        font-size: 6em;
    }
    .landing-page--intro--header-1 {
        font-size: 7em;
    }
    .landing-page--intro--desc {
        font-size: 2em;
    }
}

@media (min-height: 600px) {
    .landing-page--intro--header-0 {
        font-size: 4em;
    }
    .landing-page--intro--header-1 {
        font-size: 5em;
    }
    .landing-page--intro--desc {
        font-size: 1.5em;
    }
}

/* -- */
