/* "Workbench" */
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* @ General Styles */

body {
    background-color: rgba(0, 0, 0, 0.1);
    color: #141414;
    font-family: "Courier New", monospace;
    margin: 0;
}

h1 {
    font-size: 4em;
}

/* -- */

/* @ Utility Styles */

.digital-font {
    font-family: "Workbench";
    font-weight: 100;
    color: white;
}

/* -- */

/* @ Page Styles */

.landing-page {
    width: 100vw;
    height: 100vh;
}

.landing-page--intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    right: 25%;
    top: 30%;
}

.landing-page--intro--header {
    color: #141414;
}

.landing-page--header span {
    color: white; 
    font-size: 1em;
}

.landing-page--intro--desc {
    font-size: 2em;
}


.landing-page--background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.circuit-trace {
    fill: none;
    stroke:url("#trace-gradients");
    stroke-width:15;
}

/* -- */

/* @ Site Styles */

/* -- */

/* @ Device Styles */

@media (min-width: 1200px) {
}

/* -- */
